/* CSS for Menu*/
#Menu {
	color: rgb(0, 170, 255);
}

#Menu {
	color: rgb(0, 170, 255);
	text-decoration: solid;
}

#Food h2 {
	color: rgb(0, 170, 255);
}

#Indent p {
	text-indent: 50px
}